@import './form-elements';

.modal-form {
    padding: 40px;

    &__title {
        display: block;
        text-align: center;
        margin-bottom: 12px;

        @include font(null, 700, 20px, 1.5, null, null);

        color: var(--primary-text-color);

        @include mq(desktop){
            @include font(null, null, null, 1.15, null, null);
        }
    }

    &__contacts {
        @include flexbox (flex, column, null, null, null);
    }

    &__label {
        margin-bottom: 4px;
        
        @include font(null, 400, 12px, 1.17, 0.01em, null);
        
        color: var(--secondary-text-color);
    }

    &__item {
        position: relative;
        margin-bottom: 10px;
    }

    &__accept {
        display: block;
        text-align: center;
        padding-left: 18px;
        
        @include font(null, 400, 12px, 1.17, null, null);
        color: var(--secondary-text-color);

        @include mq(desktop){
            @include font(null, 400, 14px, 1.71, null, null);
        }
    }

    &__link {
        color: var(--accent-color);
    }
}