@import './reset';

body {
    background-color: var(--primary-white-color);
    
    @include font (var(--primary-font), null, null, null, 0.03em, null);
    color: var(--primary-text-color);
    
}

.no-scroll {
    overflow-y: hidden;
}

.section {
    @include sec-pad(notDesctop-pad);

    @include mq(desktop) {
        @include sec-pad(desktop-pad);
    }
}