.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;


    @media screen and (min-width: 767px) {
    padding: 0;
    &__wrappe {
        @include flexbox (flex, null, null, center, null);
        }
    }

    @media screen and (min-width: 1200px) {
    &__wrappe {
        @include flexbox (flex, null, null, center, null);
        }
    }
    
}

.header-contact {
    display: none;

    @media screen and (min-width: 768px) {
        @include flexbox (flex, column, null, null, null);
        margin-right: 0;
        margin-left: auto;
        }
    @media screen and (min-width: 1200px){
        @include flexbox (null, row, null, null, null);
        }

    &__item:not(:last-child) {
        margin-bottom: 10px;
        
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 30px;
        }
        }       
    
    &__item {
        @include font(null, 500, 14px, 1.2, 0.02em, null);
        color: var(--secondary-text-color);
        transition: color var(--transition);
        }

    &__item:hover,
    &__item:focus {
        color: var(--accent-color);
        }

    &__link {
        @include flexbox (flex, null, null, center, null);
    }
    
    &__icon {
        margin-right: 10px;
        fill: currentColor;

        &--envelope {
            width: 16px;
            height: 12px;}
            
        &--smartphone {
            width: 10px;
            height: 16px;}
        }

   
}






