.hero {
    
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right,
    var(--firsty-bg-color),
    var(--firsty-bg-color)),
    url(/images/hero/img_sm.jpg);

    @include mq (retina) {
    background-image: linear-gradient(to right,
    var(--firsty-bg-color),
    var(--firsty-bg-color)),
    url(/images/hero/img_sm@2x.jpg);
    background-size: cover;
    };

    @include mq(tablet) {
        background-image: linear-gradient(to right,
                    var(--firsty-bg-color),
                    var(--firsty-bg-color)),
                url(/images/hero/img_md.jpg);
        @include mq (retina) {
                background-image: linear-gradient(to right,
                        var(--firsty-bg-color),
                        var(--firsty-bg-color)),
                    url(/images/hero/img_md@2x.jpg);
                background-size: cover;
            };
    }

    @include mq(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                var(--firsty-bg-color),
                var(--firsty-bg-color)),
            url(/images/hero/img_lg.jpg);
        

        @include mq (retina) {
            
            background-image: linear-gradient(to right,
                    var(--firsty-bg-color),
                    var(--firsty-bg-color)),
                url(/images/hero/img_lg@2x.jpg);
            background-size: 1600px
        };
    }

    &__title {
            @include flexbox (block, null, null, null, null);
            margin-bottom: 30px;
    
            @include font (null, 900, 21px, 1.62, 0.06em, null);
            color: var(--primary-white-color);
            text-transform: uppercase;
            
            @include mq (mobile) {
                @include font (null, null, 26px, null, null, null);
            }
            @include mq (desktop) {
                @include font (null, null, 44px, 1.36, null, null);
            }
        }
}