.logo {
    @include flexbox (block, null, null, null, null);

    @include font (var(--secondary-font), bold, 24px, 1.17, null, null );

    &--dark {
            color: var(--primary-text-color);
        }
    
    &--light {
            color: var(--primary-white-color);
            margin-bottom: 20px;
        }
    
    &--accent {
            display: inline;
            color: var(--accent-color);
        }
}

@media screen and (min-width: 1200px) {
    .logo {
        @include font (var(--secondary-font), bold, 26px, 1.2, null, null);
    }
}
