// Заголовок секции главной страницы

.title {
    margin-bottom: 30px;

    @include font (null, bold, 28px, 1.18, null, null);
    color: var(--primary-text-color);
    
    text-align: center;

    @include mq(desktop) {
        margin-bottom: 50px;

        @include font (null, null, 36px, 1.12, null, null);
        }
}