.team {
    background-color: var(--button-color);

    &__list {
        

        @include mq(tablet){
            @include flexbox (flex, null, null, null, wrap);
            margin-bottom: -30px;
            margin-right: -30px;
        }
        }
    
    &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
                }

            background-color: var(--primary-white-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;

            @include mq(tablet) {
               flex-basis: calc(100% / 2 - 30px); 
               margin-bottom: 30px;
               margin-right: 30px;

            @include mq(desktop){
            flex-basis: calc(100% / 4 - 30px);
            }
            }
        }

    &__wrapper {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
    &__subtitle {
            text-align: center;
            margin-bottom: 10px;

            @include font (null, 500, 16px, 1.2, null, null);
            color: var(--primary-text-color);
        }
    
    &__description {
            text-align: center;

            @include font (null, null, 16px, 1.2, null, null);
            color: var(--secondary-text-color);

            margin-bottom: 16px;
        }
}